# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
*.x64
*.tlog
*.idb
*.pdb
*.ilk
/Clash2023/x64/Debug/Clash2023.log
/Clash2023/x64/Debug/Clash2023.ilk
/x64/Debug/Clash2023.pdb
/Clash2023/x64/Debug/Clash2023.tlog/link.read.1.tlog
/Clash2023/x64/Debug/vc143.pdb
/Clash2023/x64/Debug/vc143.idb
/Clash2023/x64/Debug/Clash2023.Build.CppClean.log
